################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Unquote.2.2.2/Unquote.2.2.2.nupkg
